<!-- views/code_block.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>Code Block: <%= mycode.title %></h1>

    <form id="updateForm" action="/update/<%= mycode.id %>" method="post">
        <label for="codeBody">Code Body:</label>
        <textarea id="codeBody" name="codeBody" required><%= mycode.body %></textarea>
        <br>
        <!-- No need for a submit button -->
    </form>

    <div id="liveCode">
        <h2>Live Code Preview</h2>
        <pre id="liveCodeBody"><%= mycode.body %></pre>
    </div>

    <div id="itemIdContainer" data-item-id="<%= mycode._id %>"></div>

    <script src="/socket.io/socket.io.js"></script>
<script>
    const itemId = document.getElementById('itemIdContainer').getAttribute('data-item-id');
    const isMentor = 0;
// Connect to the server with code ID as a query parameter
    const socket = io({ query: { itemId, isMentor} });
        // Apply changes made by other users
    socket.on('updateCodeBody', (data) => {
        console.log('Received updateCodeBody event:', data);
        if (data.itemId === itemId) {
            if(data.good_ans == 1){
                const imageUrl = '/images/good-job.png';  // Assuming this is the relative path from the 'public' directory
                const bigImageWindow = window.open(imageUrl, '_blank');
                if (bigImageWindow) {
                    bigImageWindow.focus();
                } else {
                    alert('Popup blocker may be preventing the new window from opening. but good job you did it.');
                }
            }else{
                document.getElementById('liveCodeBody').textContent = data.newBody; 
            }
        }
    });

    // Apply changes made by the current user
    document.getElementById('codeBody').addEventListener('input', function () {
        const newBody = document.getElementById('codeBody').value;
        console.log('Emitting updateCodeBody event:', { itemId: itemId, newBody });
        socket.emit('updateCodeBody', { itemId: itemId, newBody });
    });
</script>

    
</body>
</html>
